* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color-scheme: light dark;
}

:root {
	font-size: 16px;
	--font-family-text: system-ui, sans-serif;
	--font-family-code: Consolas, Menlo, Monaco, mono;
	--text-weight: 400;
	--bold-weight: 600;
	--header-height: 4.5rem;
	--background-color: #fff;
	--shade-color: #f2f2f2;
	--text-color: #000;
	--text-color-fade1: #555;
	--code-fg-color: #333;
	--code-bg-color: rgba(0, 0, 0, 0.05);
	--pre-bg-color: rgba(0, 0, 0, 0.035);
	--link-color: #b45;
	--border-color: #ddd;
	--iconbutton-color: #888;
	--iconbutton-hover: rgba(187, 68, 85, 0.2);
	--block-bg-color: #ddd;
	--menu-icon-color: #888;
	--menu-hover-background: rgba(0, 0, 0, 0.1);
	--menu-heading-text: #603;
	--menu-current-background: rgba(187, 68, 85, 0.2);
	--menu-current-text: #b45;
	--refblock-hover: rgba(187, 68, 85, 0.05);
	--refchip-base: #555;
	--refchip-deprecated: #c30;
	--refchip-abstract: #d8c;
	--refchip-readonly: #7b0;
	--refchip-static: #29b;
	--refchip-protected: #0ba;
	--refchip-text: #fff;
	--hljs-color1: #888;
	--hljs-color2: #29b;
	--hljs-color3: #84b;
	--hljs-color4: #04a;
	--hljs-color5: #7b0;
	--hljs-high1: rgba(119, 187, 0, 0.1);
	--hljs-high1b: #7b0;
	--hljs-high2: rgba(204, 51, 0, 0.1);
	--hljs-high2b: #c30;
}

@media (prefers-color-scheme: dark) {
	:root {
		scrollbar-color: #333 #111;
		--background-color: #111;
		--shade-color: #1a1a1a;
		--text-color: #eee;
		--text-color-fade1: #aaa;
		--code-fg-color: #ccc;
		--code-bg-color: rgba(255, 255, 255, 0.1);
		--pre-bg-color: #222;
		--link-color: #d67;
		--border-color: #333;
		--iconbutton-color: #888;
		--iconbutton-hover: #333;
		--block-bg-color: #444;
		--menu-hover-background: #333;
		--menu-heading-text: #ccc;
		--menu-current-background: rgba(221, 102, 119, 0.2);
		--menu-current-text: #fff;
		--refblock-hover: #222;
		--refchip-base: #999;
		--refchip-deprecated: #e52;
		--refchip-abstract: #e9d;
		--refchip-readonly: #8c1;
		--refchip-static: #3ac;
		--refchip-protected: #5cb;
		--refchip-text: #000;
		--hljs-color1: #ccc;
		--hljs-color2: #4cf;
		--hljs-color3: #b7e;
		--hljs-color4: #8ae;
		--hljs-color5: #ae2;
	}
}

html {
	height: 100%;
}

body {
	text-align: start;
	background: var(--background-color);
	color: var(--text-color);
	font-family: var(--font-family-text);
	font-weight: var(--text-weight);
	line-height: 1em;
}

h1 {
	font-family: "IBM Plex Serif", Times, "Times New Roman", serif;
	font-weight: var(--bold-weight);
	letter-spacing: -0.03em;
	font-size: 3rem;
	line-height: 1.2em;
	margin: 2rem 0 0.75rem;
	word-wrap: break-word;
}

h2 {
	font-family: "IBM Plex Serif", Times, "Times New Roman", serif;
	font-weight: var(--text-weight);
	font-size: 1.75rem;
	letter-spacing: -0.02em;
	line-height: 1.2em;
	padding-top: 2rem;
	margin: 2rem 0;
	border-top: 1px solid var(--border-color);
}

h3 {
	font-family: inherit;
	font-weight: var(--bold-weight);
	font-size: 1.2rem;
	line-height: 1.2em;
	margin: 0 0 0.5rem;
}

* + h3 {
	padding-top: 1rem;
}

h4 {
	font-family: inherit;
	font-weight: var(--bold-weight);
	font-size: 0.875rem;
	line-height: 1em;
	margin: 0 0 0.5rem;
	padding-bottom: 0.125rem;
	text-transform: uppercase;
}

* + h4 {
	padding-top: 0.75rem;
}

@media screen and (max-width: 900px) {
	h1 {
		font-size: 2.2rem;
	}

	h2 {
		margin: 1.5rem 0;
		font-size: 1.6rem;
	}
}

p,
li,
td,
th {
	font-size: 1rem;
	font-weight: var(--text-weight);
	line-height: 1.4em;
	margin: 0 0 1rem;
}

table {
	width: auto;
	min-width: 16rem;
	border-collapse: collapse;
	margin: 0.5rem 0 1.5rem;
}

tr {
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}

td,
th {
	vertical-align: top;
	padding: 0.25rem 1rem 0.25rem 0.125rem;
	text-align: left;
}

th {
	font-weight: var(--bold-weight);
}

li {
	margin: 0 0 0.25rem 2rem;
}

ul > li {
	list-style-type: square;
}

li:last-child {
	margin-bottom: 1rem;
}

li > p,
td > p {
	margin-bottom: 0;
}

strong,
b {
	font-weight: var(--bold-weight);
}

blockquote {
	position: relative;
	padding: 0.825rem 1rem;
	background: var(--block-bg-color);
	border-radius: 0.75rem;
	margin: 2rem 0;
}

blockquote > p {
	margin-bottom: 0.5rem;
}

blockquote > p:last-child {
	margin-bottom: 0;
}

a,
a:active,
a:visited {
	text-decoration: none;
	color: var(--link-color);
}

a:active,
a:hover {
	text-decoration: underline;
}

span.icon,
icon.icon {
	display: inline-block;
	color: inherit;
	vertical-align: middle;
	position: relative;
	width: 1.25rem;
	line-height: 1em;
}

button.iconbutton {
	width: 2rem;
	height: 2rem;
	line-height: 1;
	font-size: 0;
	background: none;
	border: none;
	color: var(--iconbutton-color);
	border-radius: 1rem;
	transition: background 0.2s ease-in-out;
}
button.iconbutton:hover,
button.iconbutton:focus {
	background: var(--iconbutton-hover);
	color: var(--text-color);
}

button > svg {
	width: 1.25rem;
}

section,
article {
	text-align: start;
}

article p,
article li {
	line-height: 1.7;
}

article hr {
	margin: 3rem 0;
	border: 0;
	border-bottom: 1px solid var(--border-color);
}

code {
	font-family: var(--font-family-code);
	font-weight: var(--text-weight);
}

p code,
li code {
	display: inline-block;
	background: var(--code-bg-color);
	border-radius: 0.25rem;
	padding: 0 0.2rem;
	word-break: break-word;
	color: var(--code-fg-color);
}

pre code {
	padding: 0;
}

pre code,
p code,
li code,
td code,
th code {
	font-size: 0.825em;
}

article pre {
	position: relative;
	margin: 1.5rem -0.25rem;
	padding: 1rem;
	background: var(--pre-bg-color);
	border-radius: 0.75rem;
	overflow: auto;
	line-height: 1.3em;
}

.hljs-comment,
.hljs-doctag {
	font-style: italic;
	color: var(--hljs-color1);
}

.hljs-meta,
.hljs-literal,
.hljs-section,
.hljs-string,
.hljs-number,
.hljs-template-tag,
.hljs-template-variable {
	color: var(--hljs-color2);
}

.hljs-title {
	color: var(--hljs-color3);
}

.hljs-built_in,
.hljs-keyword,
.hljs-name,
.hljs-selector-tag,
.hljs-tag,
.hljs-attribute {
	color: var(--hljs-color4);
}

.hljs-attr,
.hljs-symbol,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-pseudo {
	color: var(--hljs-color5);
}

.hljs--highlight-good {
	display: block;
	background-color: var(--hljs-high1);
	border-color: var(--hljs-high1b);
	border-width: 2px 0;
	border-style: solid;
}

.hljs--highlight-bad {
	display: block;
	background-color: var(--hljs-high2);
	border-color: var(--hljs-high2b);
	border-width: 2px 0;
	border-style: solid;
}

@media screen and (max-width: 900px) {
	article pre {
		margin-left: -1rem;
		margin-right: -1rem;
		min-width: calc(100% + 2rem);
		border-radius: 0;
	}

	article table {
		margin-left: -1rem;
		margin-right: -1rem;
		min-width: calc(100% + 2rem);
	}

	article td {
		font-size: 0.875rem;
	}
}

article img {
	max-width: 100%;
	display: block;
	margin: 2rem auto;
}

.docgen_signature {
	margin-top: 0;
	font-family: var(--font-family-code);
	font-weight: var(--text-weight);
	font-size: 0.875rem;
	white-space: pre-wrap;
}

.refblock {
	list-style: none;
	position: relative;
	margin: 0.5rem 0;
	padding: 0.5rem 0.5rem 0.5rem 3rem;
	border: 1px solid var(--border-color);
	border-radius: 0.5rem;
	max-width: 45rem;
	font-size: 0.875rem;
	color: var(--text-color-fade1);
	transition: background 0.2s ease-in-out;
}

.refblock:hover {
	background: var(--refblock-hover);
}

.refblock > a {
	display: inline-block;
	color: inherit;
	font-weight: var(--bold-weight);
	text-decoration: none;
	font-size: 1rem;
}

.refblock > a:hover {
	color: var(--text-color);
}

.refblock > .icon {
	position: absolute;
	left: 0.75rem;
	top: 0.75rem;
}

.refblock > a + .refchip {
	margin-inline-start: 0.5rem;
}

.refchip {
	font-size: 0.875rem;
	display: inline-block;
	padding: 0 0.5rem;
	margin-inline-end: 0.5rem;
	border-radius: 1rem;
	background: var(--refchip-base);
	color: var(--refchip-text);
}
.refchip--deprecated {
	background-color: var(--refchip-deprecated);
}
.refchip--abstract {
	background-color: var(--refchip-abstract);
}
.refchip--readonly {
	background-color: var(--refchip-readonly);
}
.refchip--static {
	background-color: var(--refchip-static);
}
.refchip--protected {
	background-color: var(--refchip-protected);
}

@media print {
	html {
		font-size: 10pt !important;
	}
}
