* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	--font-family-text: system-ui, sans-serif;
	--font-family-code: Consolas, Menlo, Monaco, mono;
	--text-weight: 400;
	--bold-weight: 700;
	--header-height: 4.5rem;
	--background-color: #fff;
	--text-color: #000;
	--text-color-fade1: #333;
	--reverse-bg-color: #333;
	--reverse-text-color: #fff;
	--code-fg-color: #333;
	--code-bg-color: rgba(0, 0, 0, 0.05);
	--pre-bg-color: rgba(0, 0, 0, 0.035);
	--accent-boldest: #06c;
	--border-color: #ddd;
	--block-bg-color: linear-gradient(45deg, #edf, #def);
	--refblock-glow: #def;
	--header-background: #fff;
	--header-text: #000;
	--navbar-icon-color: #888;
	--nav-hover-background: rgba(0, 0, 0, 0.1);
	--nav-heading-text: #036;
	--nav-current-background: rgba(0, 102, 204, 0.2);
	--nav-current-text: #06c;
	--refchip-base: #555;
	--refchip-deprecated: #c30;
	--refchip-abstract: #d8c;
	--refchip-readonly: #7b0;
	--refchip-static: #29b;
	--refchip-protected: #0ba;
	--refchip-text: #fff;
	--hljs-color1: #888;
	--hljs-color2: #29b;
	--hljs-color3: #84b;
	--hljs-color4: #04a;
	--hljs-color5: #7b0;
	--hljs-high1: rgba(119, 187, 0, 0.1);
	--hljs-high1b: #7b0;
	--hljs-high2: rgba(204, 51, 0, 0.1);
	--hljs-high2b: #c30;
}

@media (prefers-color-scheme: dark) {
	:root {
		scrollbar-color: #333 #111;
		--background-color: #111;
		--text-color: #eee;
		--text-color-fade1: #ccc;
		--reverse-bg-color: #ccc;
		--reverse-text-color: #333;
		--code-fg-color: #ccc;
		--code-bg-color: rgba(255, 255, 255, 0.1);
		--pre-bg-color: #222;
		--accent-boldest: #39f;
		--border-color: #333;
		--block-bg-color: linear-gradient(45deg, #414, #124);
		--refblock-glow: #235;
		--header-background: #111;
		--header-text: #fff;
		--nav-hover-background: #333;
		--nav-heading-text: #8ae;
		--nav-current-background: rgba(0, 102, 204, 0.2);
		--nav-current-text: #39f;
		--refchip-base: #999;
		--refchip-deprecated: #e52;
		--refchip-abstract: #e9d;
		--refchip-readonly: #8c1;
		--refchip-static: #3ac;
		--refchip-protected: #5cb;
		--refchip-text: #000;
		--hljs-color1: #ccc;
		--hljs-color2: #4cf;
		--hljs-color3: #b7e;
		--hljs-color4: #8ae;
		--hljs-color5: #ae2;
	}
	article img {
		filter: invert(100%) hue-rotate(180deg) saturate(1.25);
	}
}

body {
	text-align: center;
	background: var(--background-color);
	color: var(--text-color);
	font-family: var(--font-family-text);
	font-weight: var(--text-weight);
	line-height: 1em;
}

h1 {
	font-family: inherit;
	font-weight: var(--bold-weight);
	letter-spacing: -0.01em;
	font-size: 3rem;
	line-height: 1.2em;
	margin: 0 0 0.75rem;
	word-wrap: break-word;
}

h2 {
	font-family: inherit;
	font-weight: var(--text-weight);
	font-size: 2rem;
	line-height: 1.2em;
	padding-top: 2rem;
	margin: 2rem 0;
	border-top: 1px solid var(--border-color);
}

h3 {
	font-family: inherit;
	font-weight: var(--bold-weight);
	font-size: 1.2rem;
	line-height: 1.2em;
	margin: 0 0 0.5rem;
}

* + h3 {
	padding-top: 1rem;
}

h4 {
	font-family: inherit;
	font-weight: var(--bold-weight);
	font-size: 0.875rem;
	line-height: 1em;
	margin: 0 0 0.5rem;
	padding-bottom: 0.125rem;
	text-transform: uppercase;
}

* + h4 {
	padding-top: 0.75rem;
}

p,
li,
td,
th {
	font-size: 1rem;
	font-weight: var(--text-weight);
	line-height: 1.4em;
	margin: 0 0 1rem;
}

table {
	width: auto;
	min-width: 16rem;
	border-collapse: collapse;
	margin: 0.5rem 0 1.5rem;
}

tr {
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}

td,
th {
	vertical-align: top;
	padding: 0.25rem 1rem 0.25rem 0.125rem;
	text-align: left;
}

th {
	font-weight: var(--bold-weight);
}

li {
	margin: 0 0 0.25rem 2rem;
}

ul > li {
	list-style-type: square;
}

li:last-child {
	margin-bottom: 1rem;
}

li > p,
td > p {
	margin-bottom: 0;
}

strong,
b {
	font-weight: var(--bold-weight);
}

blockquote {
	position: relative;
	padding: 0.825rem 1rem;
	background: var(--block-bg-color);
	border-radius: 0.75rem;
	margin: 2rem 0;
}

blockquote > p {
	margin-bottom: 0.5rem;
}

blockquote > p:last-child {
	margin-bottom: 0;
}

a,
a:active,
a:visited {
	text-decoration: none;
	color: var(--accent-boldest);
}

a:active,
a:hover {
	text-decoration: underline;
}

span.icon,
icon.icon {
	display: inline-block;
	color: inherit;
	vertical-align: middle;
	position: relative;
	line-height: 1.5em;
	width: 1.5rem;
}

button > svg {
	width: 1.5rem;
}

section,
article {
	text-align: start;
}

article p,
article li {
	line-height: 1.7;
}

article hr {
	margin: 3rem 0;
	border: 0;
	border-bottom: 1px solid var(--border-color);
}

code {
	font-family: var(--font-family-code);
	font-weight: var(--text-weight);
}

p code,
li code {
	display: inline-block;
	background: var(--code-bg-color);
	border-radius: 0.25rem;
	padding: 0 0.2rem;
	word-break: break-word;
	color: var(--code-fg-color);
}

pre code {
	padding: 0;
}

pre code,
p code,
li code,
td code,
th code {
	font-size: 0.825em;
}

article pre {
	position: relative;
	margin: 1.5rem -0.25rem;
	padding: 1rem;
	background: var(--pre-bg-color);
	border-radius: 0.75rem;
	overflow: auto;
	line-height: 1.3em;
}

.hljs-comment,
.hljs-doctag {
	font-style: italic;
	color: var(--hljs-color1);
}

.hljs-meta,
.hljs-literal,
.hljs-section,
.hljs-string,
.hljs-number,
.hljs-template-tag,
.hljs-template-variable {
	color: var(--hljs-color2);
}

.hljs-title {
	color: var(--hljs-color3);
}

.hljs-built_in,
.hljs-keyword,
.hljs-name,
.hljs-selector-tag,
.hljs-tag,
.hljs-attribute {
	color: var(--hljs-color4);
}

.hljs-attr,
.hljs-symbol,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-pseudo {
	color: var(--hljs-color5);
}

.hljs--highlight-good {
	display: block;
	background-color: var(--hljs-high1);
	border-color: var(--hljs-high1b);
	border-width: 2px 0;
	border-style: solid;
}

.hljs--highlight-bad {
	display: block;
	background-color: var(--hljs-high2);
	border-color: var(--hljs-high2b);
	border-width: 2px 0;
	border-style: solid;
}

@media screen and (max-width: 900px) {
	article pre {
		margin-left: -1rem;
		margin-right: -1rem;
		min-width: calc(100% + 2rem);
		border-radius: 0;
	}

	article table {
		margin-left: -1rem;
		margin-right: -1rem;
		min-width: calc(100% + 2rem);
	}

	article td {
		font-size: 0.875rem;
	}
}

.homepage_top {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--header-background);
	color: #fff;
	font-size: 1.3rem;
}

.homepage_top img {
	height: 8rem;
	display: inline-block;
}

.homepage_top a {
	display: inline-block;
	padding: 1rem;
	margin: 2.5rem 1rem;
	color: inherit;
	text-decoration: none;
}

.docpage_header {
	position: relative;
	height: var(--header-height);
	z-index: 1000;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1rem 1.5rem;
	text-align: start;
}

.docpage_header .logo {
	background: url(/logo.png) no-repeat 50%;
	background-size: contain;
	flex: 0 0 auto;
	width: 205px;
	height: 60px;
}

@media (prefers-color-scheme: dark) {
	.docpage_header .logo {
		/* TODO: dark mode logo */
		background-image: url(/logo.png);
	}
}

.docpage_header {
	background: var(--header-background);
}

.header_links {
	flex-basis: 100%;
	justify-self: end;
	text-align: end;
}

.header_links a {
	display: inline-block;
	margin: 0 1.5rem;
	color: var(--header-text);
	text-decoration: none;
}

.header_links img {
	height: 1.25rem;
	width: 1.25rem;
	vertical-align: sub;
}

img.docpage_header_logo {
	height: 2.5rem;
}

.docpage_wrapper,
.blogpage_wrapper {
	display: flex;
	position: relative;
	flex-direction: row;
	align-items: start;
	min-height: calc(100vh - 9rem);
}

.docpage_content {
	flex: 1 1 100%;
	width: 100%;
}

article.docpage,
article.blogpage {
	margin: 0 auto 5rem;
	padding: 0 2rem;
	width: 100%;
	max-width: 50rem;
}

article.blogpage {
	margin-top: 2rem;
}

.docpage_searchbar {
	display: none;
}

.docpage_navbar {
	display: flex;
}

.show_search .docpage_searchbar {
	display: flex;
}

.show_search .docpage_navbar {
	display: none;
}

.docpage_searchbar,
.docpage_navbar {
	flex: 0 0 28%;
	max-width: 24rem;
	min-width: 0;
	position: sticky;
	top: 0;
	height: calc(100vh - var(--header-height));
	flex-direction: column;
	align-items: stretch;
	text-align: start;
	background: var(--navbar-bg-color);
}

.docpage_navbar_header {
	flex: 0 0 var(--header-height);
	padding: 0 0.5rem 0 1.5rem;
	border-bottom: 1px solid var(--border-color);
	display: flex;
	align-items: center;
}

.docpage_navbar_header a {
	flex: 1 1 auto;
	color: inherit;
	font-weight: var(--bold-weight);
}

.docpage_navbar_pane {
	position: relative;
	overflow: hidden auto;
	padding: 1rem 0 3rem 0;
	flex-grow: 1;
}

.docpage_navbar_footer {
	position: absolute;
	top: 100%;
	height: var(--header-height);
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	padding: 0 1.5rem;
	border-top: 1px solid var(--border-color);
}

.docpage_navbar_footer a {
	padding: 0.5rem 1rem;
	color: var(--text-color-fade1) !important;
	text-decoration: none;
}

.docpage_searchcontainer {
	display: flex;
	height: 100%;
}

.docpage_searchbar code,
.docpage_navbar code {
	font-size: 0.875em;
}

.navbar_searchbutton {
	display: inline-block;
	background: none;
	border: none;
	height: 2rem;
	width: 2.5rem;
	color: var(--navbar-icon-color);
	cursor: pointer;
}

.navbar_closebutton {
	display: none;
}

.docpage_breadcrumb {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: var(--header-height);
	color: var(--text-color-fade1);
}

.docpage_breadcrumb .icon {
	line-height: 1em;
}

.docpage_breadcrumb a {
	color: inherit;
}

.docpage_breadcrumb_menubutton {
	display: none;
}

.docpage_breadcrumb_searchbutton {
	display: none;
}

article img {
	max-width: 100%;
	display: block;
	margin: 2rem auto;
}

article h1 + blockquote {
	background: none;
	padding: 0;
}

article h1 + blockquote > p {
	margin: 0;
	font-weight: var(--text-weight);
	font-size: 1.35rem;
	line-height: 1.5;
}

.docgen_signature {
	margin-top: 0;
	font-family: var(--font-family-code);
	font-weight: var(--text-weight);
	font-size: 0.875rem;
	white-space: pre-wrap;
}

.refblock {
	list-style: none;
	position: relative;
	margin: 0.5rem 0;
	padding: 0.5rem 0.5rem 0.5rem 3rem;
	border: 1px solid var(--refblock-glow);
	border-radius: 0.5rem;
	max-width: 45rem;
	box-shadow: 0 0 0.75rem var(--refblock-glow);
	font-size: 0.875rem;
	color: var(--text-color-fade1);
}

.refblock > a {
	display: inline-block;
	color: inherit;
	font-weight: var(--bold-weight);
	text-decoration: none;
	font-size: 1rem;
}

.refblock > .icon {
	position: absolute;
	left: 0.75rem;
	top: 0.625rem;
}

.refblock > a + .refchip {
	margin-inline-start: 0.5rem;
}

.refchip {
	font-size: 0.875rem;
	display: inline-block;
	padding: 0 0.5rem;
	margin-inline-end: 0.5rem;
	border-radius: 1rem;
	background: var(--refchip-base);
	color: var(--refchip-text);
}
.refchip--deprecated {
	background-color: var(--refchip-deprecated);
}
.refchip--abstract {
	background-color: var(--refchip-abstract);
}
.refchip--readonly {
	background-color: var(--refchip-readonly);
}
.refchip--static {
	background-color: var(--refchip-static);
}
.refchip--protected {
	background-color: var(--refchip-protected);
}

@media screen and (max-width: 900px) {
	.hide_narrow {
		display: none !important;
	}

	article.docpage {
		max-width: none;
		padding: 0 1rem;
	}

	.docpage_header .logo {
		width: 100px;
	}

	h1 {
		font-size: 2.2rem;
	}

	h2 {
		margin: 1.5rem 0;
		font-size: 1.6rem;
	}

	.header_links a {
		margin: 0 0.75rem;
	}

	.docpage_breadcrumb > span {
		flex: 1 1 auto;
	}

	.docpage_breadcrumb_menubutton {
		display: inline-block;
		background: none;
		border: none;
		color: inherit;
		margin: 0 0 0 -0.5rem;
		height: 2rem;
		width: 2.5rem;
		cursor: pointer;
	}

	.docpage_breadcrumb_searchbutton {
		display: inline-block;
		background: none;
		border: none;
		color: inherit;
		height: 2rem;
		width: 2.5rem;
		cursor: pointer;
	}

	.show_navbar .docpage_navbar {
		position: relative;
		display: flex;
		max-width: none;
		flex-basis: 100%;
	}

	.show_search .docpage_searchbar {
		display: flex;
		max-width: none;
		padding: 0 0.5rem 0 0;
		flex-basis: 100%;
	}

	.docpage_navbar,
	.docpage_searchbar,
	.show_navbar .docpage_content,
	.show_search .docpage_content,
	.show_navbar .docpage_navbar_footer,
	.show_search .docpage_navbar_footer {
		display: none;
	}

	.navbar_searchbutton {
		top: 1.5rem;
		right: 3rem;
	}

	.navbar_closebutton {
		display: inline-block;
		background: none;
		border: none;
		color: inherit;
		height: 2rem;
		padding: 0 1.5rem 0 0.5rem;
		color: var(--navbar-icon-color);
		cursor: pointer;
	}
}

@media print {
	html {
		font-size: 10pt !important;
	}

	.docpage_navbar {
		display: none !important;
	}

	.docpage_searchbar {
		display: none !important;
	}
}
