* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
body {
	--background-color: #fff;
	--text-color: #000;
	--text-color-fade1: #333;
	--reverse-bg-color: #333;
	--reverse-text-color: #fff;
	--code-bg-color: rgba(0, 0, 0, 0.05);
	--pre-bg-color: rgba(0, 0, 0, 0.035);
	--border-color: rgba(0, 0, 0, 0.15);
	--block-bg-color: #e8eeff;
	--primary-boldest: #04a;
	--secondary-boldest: #828;
	--hljs-color1: #888;
	--hljs-color2: #29b;
	--hljs-color3: #84b;
	--hljs-color4: #04a;
	--hljs-color5: #7b0;
	--header-background: linear-gradient(#000, #246);
	--header-text: #fff;
	--navbar-icon-color: #888;
	--nav-hover-background: #eee;
	--nav-category-text: #29b;
	--nav-current-background: rgba(210, 140, 240, 0.3);
	--nav-current-text: #606;
	--doctag-base: #555;
	--doctag-deprecated: #c30;
	--doctag-abstract: #d8c;
	--doctag-readonly: #7b0;
	--doctag-static: #29b;
	--doctag-protected: #0ba;
	--doctag-text: #fff;
	--doctag-weight: normal;
}
@media (prefers-color-scheme: dark) {
	body {
		--background-color: #111;
		--text-color: #eee;
		--text-color-fade1: #ccc;
		--reverse-bg-color: #ccc;
		--reverse-text-color: #333;
		--code-bg-color: rgba(255, 255, 255, 0.15);
		--pre-bg-color: rgba(255, 255, 255, 0.1);
		--border-color: rgba(255, 255, 255, 0.35);
		--block-bg-color: #152a3f;
		--primary-boldest: #8ae;
		--secondary-boldest: #d6d;
		--hljs-color1: #ccc;
		--hljs-color2: #4cf;
		--hljs-color3: #b7e;
		--hljs-color4: #8ae;
		--hljs-color5: #ae2;
		--nav-hover-background: #333;
		--nav-category-text: #4cf;
		--nav-current-background: rgba(92, 8, 128, 0.3);
		--nav-current-text: #f6f;
		--doctag-base: #999;
		--doctag-deprecated: #e52;
		--doctag-abstract: #e9d;
		--doctag-readonly: #8c1;
		--doctag-static: #3ac;
		--doctag-protected: #5cb;
		--doctag-text: #000;
		--doctag-weight: 500;
	}
}
body {
	text-align: center;
	background: var(--background-color);
	color: var(--text-color);
	font-family: "IBM Plex Sans", Roboto, Arial, Helvetica, sans-serif;
	line-height: 1em;
}
h1 {
	font-family: "IBM Plex Sans", Roboto, Arial, Helvetica, sans-serif;
	font-weight: 500;
	letter-spacing: -0.01em;
	font-size: 3rem;
	line-height: 1.2em;
	margin: 1.25rem 0 0.75rem;
}
h2 {
	font-family: "IBM Plex Sans", Roboto, Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.2em;
	padding-top: 1.25rem;
	margin: 0.5rem 0 1rem;
	counter-reset: tutorial-heading;
}
h3 {
	font-family: "IBM Plex Sans", Roboto, Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 1.2em;
	margin: 0 0 0.5rem;
}
* + h3 {
	padding-top: 1rem;
}
h4 {
	font-family: "IBM Plex Sans", Roboto, Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 0.825rem;
	line-height: 1em;
	margin: 0 0 0.5rem;
	padding-bottom: 0.125rem;
	text-transform: uppercase;
	opacity: 0.85;
}
* + h4 {
	padding-top: 0.75rem;
}
h3.tutorial-heading::before {
	counter-increment: tutorial-heading;
	content: counter(tutorial-heading);
	font-size: 0.875rem;
	min-width: 1.75rem;
	line-height: 1.75rem;
	border-radius: 1.75rem;
	background: var(--reverse-bg-color);
	color: var(--reverse-text-color);
	display: inline-block;
	text-align: center;
	margin: 0 0.5rem 0 0;
}
p,
li,
td,
th {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.4em;
	margin: 0 0 1rem;
}
table {
	width: auto;
	min-width: 16rem;
	border-collapse: collapse;
	margin: 0.5rem 0 1.5rem;
}
tr {
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}
td,
th {
	vertical-align: top;
	padding: 0.25rem 1rem 0.25rem 0.125rem;
	text-align: left;
}
th {
	font-weight: 500;
}
li {
	margin: 0 0 0.25rem 2rem;
	list-style-type: square;
}
li:last-child {
	margin-bottom: 1rem;
}
li > p,
td > p {
	margin-bottom: 0;
}
strong,
b {
	font-weight: 500;
}
blockquote {
	position: relative;
	padding: 0.825rem 1rem;
	background: var(--block-bg-color);
	border-radius: 0.75rem;
	margin: 2rem 0;
}
blockquote > p {
	margin-bottom: 0.5rem;
}
blockquote > p:last-child {
	margin-bottom: 0;
}
article blockquote {
	padding: 0.825rem 1rem 0.825rem 2.75rem;
}
article blockquote::before {
	content: "info_outline";
	display: inline-block;
	position: absolute;
	top: 1rem;
	left: 1rem;
	inset: 1rem auto auto 1rem;
	font-family: "Material Icons";
	font-size: 18px;
	line-height: 1;
	color: var(--primary-boldest);
}
a,
a:active {
	text-decoration: none;
	color: var(--primary-boldest);
}
a:visited {
	color: var(--secondary-boldest);
}
a:active,
a:hover {
	text-decoration: underline;
}
.style--dim {
	opacity: 0.5;
}
.style--pageintro {
	font-weight: 300;
	font-size: 1.3rem;
	line-height: 1.5;
}
.displaytitle {
	font-size: 3.5rem;
	line-height: 1.1em;
	margin: 1rem 0 1rem;
}
section,
article {
	text-align: start;
}
article p,
article li {
	line-height: 1.7;
}
article hr {
	margin: 3rem 0;
	border: 0;
	border-bottom: 1px solid var(--border-color);
}
p.fullWidthImage > img {
	max-width: 100%;
}
code {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 300;
}
p code,
li code {
	display: inline-block;
	background: var(--code-bg-color);
	border-radius: 0.25rem;
	padding: 0 0.2rem;
	word-break: break-word;
}
pre code {
	padding: 0;
}
pre code,
p code,
li code,
td code,
th code {
	font-size: 0.825em;
}
article pre {
	position: relative;
	margin: 1.5rem -0.25rem;
	padding: 1rem;
	background: var(--pre-bg-color);
	border-radius: 0.75rem;
	overflow: auto;
	line-height: 1.3em;
}
article iframe {
	width: 99.9%;
	height: 16rem;
	border: 1px dashed var(--primary-boldest);
	margin: 0.5rem 0 1.5rem;
}
article iframe.short {
	height: 3.5rem;
}
article iframe.tall {
	height: 32rem;
}
article iframe + pre {
	margin-top: 0;
}
.hljs-comment,
.hljs-doctag {
	font-style: italic;
	color: var(--hljs-color1);
}
.hljs-meta,
.hljs-literal,
.hljs-section,
.hljs-string,
.hljs-number,
.hljs-template-tag,
.hljs-template-variable {
	color: var(--hljs-color2);
}
.hljs-title {
	color: var(--hljs-color3);
}
.hljs-built_in,
.hljs-keyword,
.hljs-name,
.hljs-selector-tag,
.hljs-tag,
.hljs-attribute {
	color: var(--hljs-color4);
}
.hljs-attr,
.hljs-symbol,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-pseudo {
	color: var(--hljs-color5);
}

@media screen and (max-width: 900px) {
	article pre {
		margin-left: -1rem;
		margin-right: -1rem;
		min-width: calc(100% + 2rem);
	}
	article iframe {
		margin-left: -1rem;
		margin-right: -1rem;
		min-width: calc(100% + 2rem);
	}
	article table {
		margin-left: -1rem;
		margin-right: -1rem;
		min-width: calc(100% + 2rem);
	}
	article td {
		font-size: 0.875rem;
	}
}

.homepage_top {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--header-background);
	color: #fff;
	font-size: 1.3rem;
	font-weight: 200;
}

.homepage_top img {
	height: 8rem;
	display: inline-block;
}

.homepage_top a {
	display: inline-block;
	padding: 1rem;
	margin: 2.5rem 1rem;
	color: inherit;
	text-decoration: none;
}

.docpage_header,
.docpage_footer {
	height: 4.5rem;
	z-index: 1000;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1rem 1.5rem;
	text-align: start;
	font-weight: 300;
}

.docpage_header {
	background: var(--header-background);
}

.docpage_footer {
	border-top: 1px solid var(--border-color);
}

.header_links {
	flex-basis: 100%;
	justify-self: end;
	text-align: end;
}

.header_links a {
	display: inline-block;
	margin: 0 1.5rem;
	color: var(--header-text);
	text-decoration: none;
}

.header_links img {
	height: 1.25rem;
	width: 1.25rem;
	vertical-align: sub;
}

img.docpage_header_logo {
	height: 2.5rem;
}

.docpage_wrapper {
	display: flex;
	position: relative;
	flex-direction: row;
	align-items: start;
	min-height: calc(100vh - 9rem);
}

.docpage_content {
	flex: 1 1 100%;
	width: 100%;
}

article.docpage {
	margin: 2rem auto 5rem;
	padding: 0 1.5rem;
	width: 100%;
	max-width: 50rem;
}

.docpage .docpage_searchbar {
	display: none;
}
.docpage.show_search .docpage_searchbar {
	display: block;
}
.docpage.show_search .docpage_navbar {
	display: none;
}

.docpage_searchbar,
.docpage_navbar {
	position: sticky;
	top: 0;
	flex: 0 0 25%;
	max-width: 20rem;
	max-height: calc(100vh - 4rem);
	overflow: hidden auto;
	padding: 1rem 0 0 0;
}

.docpage_searchbar code,
.docpage_navbar code {
	font-size: 0.875em;
}

.navbar_searchbutton {
	background: none;
	color: inherit;
	border: none;
	position: absolute;
	padding: 0.5rem;
	top: 1.5rem;
	right: 0;
	inset: 1.5rem 0 auto auto;
	color: var(--navbar-icon-color);
	font-family: "Material Icons";
	font-size: 22px;
	display: inline-block;
	line-height: 1.2;
	cursor: pointer;
}

.navbar_closebutton {
	display: none;
}

.navbar_title {
	display: block;
	margin: 1.25rem 1.5rem;
	color: inherit;
}

.navbar_list li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar_list a,
.navbar_list span {
	display: block;
	padding: 0.35rem 0 0.35rem 1.5rem;
	color: inherit;
	transition: background-color 0.2s ease;
}

.navbar_list a:hover {
	background: var(--nav-hover-background);
	text-decoration: none;
}

.navbar_list .nav_uplink {
	color: var(--text-color-fade1);
	font-weight: 500;
}

.navbar_list li.category > span {
	border-top: 1px solid var(--nav-category-text);
	color: var(--nav-category-text);
	font-weight: 500;
	font-size: 0.875rem;
}

.navbar_list li.category > ul {
	margin: 0.5rem 0 1rem;
}

.navbar_list li.current > a {
	font-weight: 500;
	background: var(--nav-current-background);
	color: var(--nav-current-text);
}

.navbar_toclist a {
	padding-left: 2.5rem;
}

.docpage_breadcrumb {
	position: relative;
}

.docpage_breadcrumb > a {
	display: inline-block;
}

.docpage_breadcrumb > a::after {
	content: "chevron_right";
	font-family: "Material Icons";
	font-display: block;
	font-size: 18px;
	display: inline-block;
	line-height: 1;
	padding: 0 0.5rem;
	vertical-align: sub;
	color: inherit;
}

.docpage_breadcrumb_menubutton,
.docpage_breadcrumb_searchbutton {
	display: none;
}

.apisignature {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 300;
	font-size: 0.875rem;
	white-space: pre-wrap;
}

.pagerefblock_list {
	margin-bottom: 1.5rem;
}

.pagerefblock_list > li {
	list-style: none;
	margin: 0.75rem 0;
	padding: 0;
}

.pagerefblock > a {
	display: inline-block;
	font-weight: 500;
	color: inherit;
	text-decoration: none;
}

.pagerefblock > a::before {
	content: "";
	display: inline-block;
	height: 1.25rem;
	width: 1.25rem;
	position: relative;
	top: 0.25rem;
	padding-inline-end: 0.5rem;
	background-size: contain;
	background-repeat: no-repeat;
}
.pagerefblock > a::before {
	font-family: "Material Icons";
	font-display: block;
	font-size: 18px;
	display: inline-block;
	line-height: 1;
}
.pagerefblock--doc > a::before {
	content: "description";
}
.pagerefblock--class > a::before {
	content: "tab";
}
.pagerefblock--type > a::before {
	content: "tab_unselected";
}
.pagerefblock--function > a::before {
	content: "label";
}
.pagerefblock--var > a::before {
	content: "bookmark_border";
}

.pagerefblock > a + .doctag {
	margin-inline-start: 0.5rem;
}

.pagerefblock_abstract {
	display: block;
	padding: 0 0 0 1.75rem;
}

.doctag {
	font-size: 0.875rem;
	display: inline-block;
	padding: 0 0.75rem;
	margin-inline-end: 0.5rem;
	border-radius: 1rem;
	background: var(--doctag-base);
	color: var(--doctag-text);
	font-weight: var(--doctag-weight);
}
.doctag--deprecated {
	background-color: var(--doctag-deprecated);
}
.doctag--abstract {
	background-color: var(--doctag-abstract);
}
.doctag--readonly {
	background-color: var(--doctag-readonly);
}
.doctag--static {
	background-color: var(--doctag-static);
}
.doctag--protected {
	background-color: var(--doctag-protected);
}

@media screen and (max-width: 900px) {
	.header_links a {
		margin: 0 0.75rem;
	}

	.docpage_navbar,
	.docpage_searchbar {
		display: none;
	}

	.docpage_breadcrumb {
		padding: 0 0 0 2.5rem;
	}

	.docpage_breadcrumb_menubutton {
		background: none;
		color: inherit;
		border: none;
		position: absolute;
		padding: 0.5rem;
		top: -0.5rem;
		left: -0.5rem;
		inset: -0.5rem auto auto -0.5rem;
		font-family: "Material Icons";
		font-display: block;
		font-size: 22px;
		display: inline-block;
		line-height: 1.2;
	}

	.docpage_breadcrumb_searchbutton {
		background: none;
		color: inherit;
		border: none;
		position: absolute;
		padding: 0.5rem;
		top: -0.5rem;
		right: -0.5rem;
		inset: -0.5rem -0.5rem auto auto;
		font-family: "Material Icons";
		font-display: block;
		font-size: 22px;
		display: inline-block;
		line-height: 1.2;
		cursor: pointer;
	}

	.docpage.show_navbar .docpage_navbar {
		display: block;
		max-width: none;
		flex-basis: 100%;
	}

	.docpage.show_search .docpage_searchbar {
		display: block;
		max-width: none;
		padding: 1rem 1rem 0 0;
		flex-basis: 100%;
	}

	.docpage.show_navbar .docpage_content,
	.docpage.show_search .docpage_content {
		display: none;
	}

	.navbar_searchbutton {
		top: 1.5rem;
		right: 3rem;
		inset: 1.5rem 3rem auto auto;
		color: inherit;
	}

	.navbar_closebutton {
		background: none;
		color: inherit;
		border: none;
		position: absolute;
		padding: 0.5rem;
		top: 1.5rem;
		right: 0.5rem;
		inset: 1.5rem 0.5rem auto auto;
		font-family: "Material Icons";
		font-display: block;
		font-size: 22px;
		display: inline-block;
		line-height: 1.1;
		cursor: pointer;
	}
}

@media print {
	html {
		font-size: 10pt !important;
	}
	.docpage_navbar {
		display: none !important;
	}
	.docpage_searchbar {
		display: none !important;
	}
}
